# For CSE Dept.

In [2]:
import pandas as pd

In [40]:
df_cs = pd.read_csv("./all_CSE_faculty_merged.csv")

In [4]:
df_cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260 entries, 0 to 2259
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   2260 non-null   object
 1   Authors  2257 non-null   object
 2   Title    2260 non-null   object
 3   Year     2135 non-null   float64
 4   Source   1924 non-null   object
 5   Type     1801 non-null   object
 6   Cites    2260 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 123.7+ KB

In [44]:
df_cs[df_cs.Authors.isna()==True]

Empty DataFrame
Columns: [Author, Authors, Title, Year, Source, Type, Cites]
Index: []

In [7]:
df_cs.Authors = df_cs.Authors.fillna(df_cs[df_cs.Authors.isna()==True].Author)

In [43]:
df_cs[df_cs.Year.isna()==True]

Empty DataFrame
Columns: [Author, Authors, Title, Year, Source, Type, Cites]
Index: []

In [14]:
df_cs[df_cs.Source.isna()==True]

Empty DataFrame
Columns: [Author, Authors, Title, Year, Source, Type, Cites]
Index: []

In [10]:
df_cs.Source = df_cs.Source.fillna("Undisclosed")

In [13]:
df_cs[df_cs.Source.isna()]

Empty DataFrame
Columns: [Author, Authors, Title, Year, Source, Type, Cites]
Index: []

In [16]:
df_cs[df_cs.Type.isna()]

Empty DataFrame
Columns: [Author, Authors, Title, Year, Source, Type, Cites]
Index: []

In [15]:
df_cs.Type = df_cs.Type.fillna("Other")

In [17]:
df_cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260 entries, 0 to 2259
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   2260 non-null   object
 1   Authors  2260 non-null   object
 2   Title    2260 non-null   object
 3   Year     2135 non-null   float64
 4   Source   2260 non-null   object
 5   Type     2260 non-null   object
 6   Cites    2260 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 123.7+ KB

In [39]:
df_cs.to_csv("./all_CSE_faculty_merged.csv",index=False)

In [21]:
df_cs.Year = df_cs.Year.fillna("Unknown")

In [30]:
df_cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260 entries, 0 to 2259
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   2260 non-null   object
 1   Authors  2260 non-null   object
 2   Title    2260 non-null   object
 3   Year     2135 non-null   float64
 4   Source   2260 non-null   object
 5   Type     2260 non-null   object
 6   Cites    2260 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 123.7+ KB

In [37]:
df_cs.Year = df_cs.Year.astype(str).str.replace(r"\.0$", "", regex=True).replace("nan","Unknown")

In [34]:
df_cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260 entries, 0 to 2259
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   2260 non-null   object
 1   Authors  2260 non-null   object
 2   Title    2260 non-null   object
 3   Year     2260 non-null   object
 4   Source   2260 non-null   object
 5   Type     2260 non-null   object
 6   Cites    2260 non-null   int64
dtypes: int64(1), object(6)
memory usage: 123.7+ KB

# For MNC Dept.

In [41]:
df_ma = pd.read_csv("./all_MNC_faculty_merged.csv")

In [42]:
df_ma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   1613 non-null   object
 1   Authors  1613 non-null   object
 2   Title    1613 non-null   object
 3   Year     1585 non-null   float64
 4   Source   1256 non-null   object
 5   Type     1209 non-null   object
 6   Cites    1613 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 88.3+ KB

In [45]:
df_ma.Source = df_ma.Source.fillna("Undisclosed")

In [46]:
df_ma.Type = df_ma.Type.fillna("Other")

In [47]:
df_ma.Year = df_ma.Year.astype(str).str.replace(r"\.0$", "", regex=True).replace("nan","Unknown")

In [48]:
df_ma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   1613 non-null   object
 1   Authors  1613 non-null   object
 2   Title    1613 non-null   object
 3   Year     1613 non-null   object
 4   Source   1613 non-null   object
 5   Type     1613 non-null   object
 6   Cites    1613 non-null   int64
dtypes: int64(1), object(6)
memory usage: 88.3+ KB

In [49]:
df_ma.to_csv("./all_MNC_faculty_merged.csv")